{% assign partnerlist = include.partners | split:"," %}
{% assign authorlist = include.authors | split:"," %}

<div class="publication"><p>

{% for author in authorlist %}<span class="label-author">{{ author | strip }}</span>, {% endfor %}
({{ include.year }}),
<b>{{ include.title }}</b>,
<i>{{ include.journal }}</i>,
{{ include.numbers }},
{% if include.doi %}
    <a href="https://doi.org/{{ include.doi }}">doi:{{ include.doi }}</a>
{% endif %}
<br>
{% if include.bibtex  and include.nobibtex != true %}
    <a href="{{ include.bibtex }}" class="label-bibtex">BibTeX</a>,
{% endif %}
{% if include.partners  and include.nopartners != true %}
    Partners:
    {% for partner in partnerlist %}<span class="label-partner">{{ partner }}</span>{% endfor %}
{% endif %}
</p>
{% if include.comment and include.nocomment != true %}
    <blockquote><p>{{ include.comment }}</p></blockquote>
{% endif %}

</div>
